*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #93748A;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    font-size: 10vmin;
    color: #b0413e;
    background-color: #47E5BC;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color:white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color:white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #fffdc7;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}